# Configuration de la base de donnes MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=password
DB_PASSWORD=root
DB_NAME=dvf_db

# URL de connexion SQLAlchemy
DB_URL=mysql+pymysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

